body {
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background-color 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.animated-image {
    animation: scaleImage 0.5s linear infinite;
    max-height: 90vh;
    max-width: 90vw;
}

@keyframes scaleImage {
    0% { transform: scale(0.5); }
    50% { transform: scale(1.5); }
    100% { transform: scale(0.5); }
    0% { transform: scale(0.5) rotate(0deg); }
    50% { transform: scale(1.5) rotate(180deg); }
    100% { transform: scale(0.5) rotate(360deg); }
}
