body {
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    animation: changeFontSize 0,5s infinite; 
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.header-container {
    background-color: #fff;
}

h1 {
    color: #333;
    width: 50%;
    margin: auto;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    background-color: #fff;
    padding: 20px;
    margin-left: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@keyframes changeFontSize {
    0% {font-size: 500%;}
    50% {font-size: 700%;}
    100% {font-size: 500%;}
}
