<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Título da Minha Página</title>
        <style>
            body {
                background-color: #f0f0f0;
                font-family: Arial, sans-serif;
            }
            h1 {
                color: #333333;
            }
            p {
                color: #666666;
            }
        </style>
    </head>
    <body>
        <h1>Olá, Mundo!</h1>
        <p>Esta é a minha primeira página HTML.</p>
    </body>
</html>
