body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 60%;
    background-color: white; 
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: fit-content;
    padding: 20px;
    border-right: 1px solid #ccc;
    align-self: flex-start;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-input {
    margin-bottom: 20px;
    width: 80%;
}

.user-input textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.output {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    min-height: 200px;
    width: 80%;
}

.output p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
